{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'decode_blogs/css/desc.css' %}">
    <link rel="stylesheet" href="{% static 'decode_blogs/css/header.css' %}">
</head>
<body>
    <header>
        <h1>Decode Blog</h1>
        <div class="header-div-1">
            <input type="search" placeholder="Поиск по блогам">
            <button id="button-find">
                <img src="{% static 'decode_blogs/images/search_icon.svg' %}" alt="" id="search_icon">
                Search
            </button> 
        </div>

        <div class="header-div-2">
            <a href="{% url 'decode_authe:profile' %}" class="button-reg">Show profile</a>
            <a href="{% url 'decode_authe:signout' %}" class="button-reg">Exit</a>
        </div>

    </header>
    <hr id="hr-line">


    <section class="main">
        <h1>Описание Блога</h1>

        <span class="p-preinfo">
            <p>Категория: {{ blog.category.name }}</p>
        </span>

        <div class="p-details">
            <span>
                <p><b>Фото:</b></p>
                <p>{{ blog.image }}</p>
            </span>
            <span>
                <p><b>Название:</b></p>
                <p>{{ blog.name }}</p>
            </span>
            <span>
                <p><b>Описание:</b></p>
                <p>{{ blog.description }}</p>
            </span>
            <span>
                <p><b>Дата:</b></p>
                <p>{{ blog.data }}</p>
            </span>
        </div>
    </section>
</body>
</html>