{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'decode_blogs/css/Home.css' %}">
    <link rel="stylesheet" href="{% static 'decode_blogs/css/Header.css' %}">
</head>
<body>
    <header>
        <h1>Decode Blog</h1>

        <div class="header-div-1">
            <input type="search" placeholder="Поиск по блогам">
            <button id="button-find">
                <img src="{% static 'decode_blogs/images/search_icon.svg' %}" alt="" id="search_icon">
                Найти
            </button> 
        </div>

        <div class="header-div-2">
            <button id="button-reg">Регистрация</button>
            <button id="button-enter">Вход</button>
        </div>
    </header>
    <hr id="hr-line">
    
    
    <section class="main">
        <div class="blogs">
            <h2>Блоги по программированию </h2>
            <p>Популярные и лучшие публикации по программированию  для <br>начинающих и проффесиональных программистов и IT-cпециалистов</p>
            
            {% for c in comments %}
                <h2>{{ c.name }}</h2>
                <div class="main-info">
                    {% if с.image %}
                        <img src="{{ с.image.url }}" alt="" class="product-image">
                    {% endif %}
                </div>
                <p>{{ c.description }}</p>
                <time>{{ c.date }}</time>
            {% endfor %}
            </div>

            {% for ctgr in categories %}
                {% if category_id == ctgr.id %}
                    <a href="{% url 'decode_blogs:category' ctgr.id %}" class="selected-ctgr">{{ctgr.name}}</a>
                {% else %}
                    <a href="{% url 'decode_blogs:category' ctgr.id %}">{{ctgr.name}}</a>
                {% endif %}
            {% endfor %}    

        </div>
    </section>
</body>
</html>