{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="{% static 'decode_authe/css/authe.css' %}">
    <link rel="stylesheet" href="{% static 'decode_authe/css/Header.css' %}">

</head>
<body>
    <header>
        <h1>Decode Blog</h1>
        <div class="header-div-1">
            <input type="search" placeholder="Поиск по блогам">
            <button id="button-find">
                <img src="{% static 'decode_blogs/images/search_icon.svg' %}" alt="" id="search_icon">
                Search
            </button> 
        </div>
        
        
        <div class="header-div-2">
            <a href="{% url 'decode_blogs:home' %}" class="button-reg">Home</a>
            <a href="{% url 'decode_authe:signout' %}" class="button-reg">Signout</a>
            <a href="{% url 'decode_authe:profile'%}"><img src="{{ user.image.url }}" alt="" class="profile-img"></a>
        </div>
    </header>
    <hr id="hr-line">
    
    <section class="main">
        <div class="com-blog">
            {% for b in blogs %}
            <div class="main-info"> 
                {% if b.image %}
                <img src="{{ b.image.url }}" alt="comment-img" class="comment-img">
                {% endif %}
            </div>
            <h2 id="blog-name">{{ b.name }}</h2>
            <p id="description">{{ b.description }}</p>
            <div class="blog-change">
                <a href="{% url 'decode_blogs:edit' b.id %}" class="blog-button">Изменить блог</a>
                <a href="{% url 'decode_blogs:delete' b.id %}" class="blog-button">Удалить блог</a>
            </div>
            <img src="{% static 'decode_blogs/images/User.png' %}" alt="">
            <hr>
            {% endfor %}
        </div>
    </section>

    <section class="profile-main">
        <span>
            <img src="{{ user.image.url }}" alt="" class="profile-img">
        </span>
        <div class="profile-info">
            <p>
                <span>{{ user.first_name }}</span>
            </p>

            <p>
                <span>{{ user.last_name }}</span>
            </p>

            <p>
                <span>{{ user.email }}</span>
            </p>
        </div>

        {% if request.user.is_superuser %}
            <div class="admin-links">
                <a href="{% url 'decode_blogs:add' %}" class="blog-button"> Добавить новый блог</a>
                
            </div>
        {% endif %}
    </section>
</body>
</html>

