{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="{% static 'decode_authe/css/Authe.css' %}">
    <link rel="stylesheet" href="{% static 'decode_authe/css/header.css' %}">
</head>
<body>
    <header>
        <h1>Decode Blog</h1>
        <div class="header-div-1">
            <input type="search" placeholder="Поиск по блогам">
            <button id="button-find">
                <img src="{% static 'decode_blogs/images/search_icon.svg' %}" alt="" id="search_icon">
                Search
            </button> 
        </div>

        <div class="header-div-2">
            <a href="{% url 'decode_blogs:home' %}" class="button-reg">Home</a>
            <a href="{% url 'decode_authe:signup' %}" class="button-reg">SignUp</a>    
        </div>
    </header>
    <hr id="hr-line">


    <section class="authe-main">
        <h1>Авторизация</h1>

        <form action="" method="POST" class="authe-form">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <button type="submit">Зарегистрироваться</button>
        </form>
    </section>
</body>
</html>

